/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top, #000000 0%, #483D8B 74%); ;
    min-height: 100px;    
    margin-top: 10px;
}

.logo {
    letter-spacing: 7px;    
    text-transform: uppercase;
    font-size: 25px; 
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: #483D8B;
    -webkit-text-stroke: 0.3px white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links input{
    padding: 6px;
    border: solid 1px black;
    margin-bottom: 8px;
    margin-left: 16px;
}


.footer {
    list-style: none;
    color: white;
    display: grid;
    justify-content: center;
    background-image: linear-gradient(to bottom, #000000 0%, #483D8B 74%); 
    font-family: 'Oswald', sans-serif;
}

#nombres{
    padding: 10px;
} */

.separacion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px;
  
}

.separacion a{
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: white;
}

.separacion img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.separacion img:hover{
opacity: 0.6;
}

#seccion{
  display: grid;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: white;
  font-family: 'Oswald', sans-serif;
  /* text-shadow: 10px 10px 5px #483D8B; */
  font-size: 35px;
}




/* Mobile */
  
@media only screen and (max-width:420px){
    *{
      margin: 0;
  
    }
    
    nav{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0%;
      /* position: fixed; */
    }
  
    .logo a{
      padding-left: 35%;
      padding-right: 35%;
    
    }
    
    .nav-links a{
      font-size: 15px;
      padding: 10px;
    }
    
    .nav-links ul{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  
    #buscador{
          display: none;
    }
  
    .pic{
      display: none;
    }
  
    #seccion{
      display: grid;
      justify-content: start;
      padding-left: 20px ;
      font-size: 25px;
    }
  
    .separacion{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    
    .separacion img{
      height: 296px;
      width: 194px;
      margin-top: 20px;
      margin-bottom: 20px;
      /* 194 x 296 */
    }
  
    .separacion h3{
      font-size: 15px;
    }
  }
  