.separacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 10px;
    margin: 20px;
    
}

.separacion a{
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: white;
}

.separacion img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.separacion img:hover{
  opacity: 0.6;
}

#seccion{
    display: grid;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 30px;
    color: white;
    font-family: 'Oswald', sans-serif;
    /* text-shadow: 10px 10px 5px #483D8B; */
    font-size: 35px;
}

/* lo del carousel es todo esto */

@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic {
    position: relative;
    width: 90vw;
    height: 500px;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 40px;
    overflow: hidden;
  }
  
  .pic > a {
    position: absolute;
    top: 0;
   
    opacity: 0;
    animation: display 20s infinite;
  }
  
  a:nth-child(2) {
    animation-delay: 4s;
  }
  a:nth-child(3) {
    animation-delay: 8s;
  }
  a:nth-child(4) {
    animation-delay: 12s;
  }
  a:nth-child(5) {
    animation-delay: 16s;
  }

  /* Mobile */
 
  @media only screen and (max-width:420px){
  *{
    margin: 0;

  }
  
  nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0%;
    /* position: fixed; */
  }

  .logo a{
    padding-left: 35%;
    padding-right: 35%;
  
  }
  
  .nav-links a{
    font-size: 15px;
    padding: 10px;
  }
  
  .nav-links ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  #buscador{
        display: none;
  }

  .pic{
    display: none;
  }

  #seccion{
    display: grid;
    justify-content: start;
    padding-left: 20px ;
    font-size: 25px;
  }

  .separacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .separacion img{
    height: 296px;
    width: 194px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* 194 x 296 */
  }

  .separacion h3{
    font-size: 15px;
  }
} 

