.pelicula-resumenes{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.peli-div-grande{
    display: grid;
    grid-template-columns: 35% 65%;
}

.pelicula-img{
    width: 400px;
}

.pelicula-img img{
    margin-left: 20px;
    margin-top: 20px;
}

.pelicula-img button{
    background-color: rgb(38, 40, 77);
    color: white;
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;
    /* border: 2px solid white; */
}

.info-pelicula{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 70%;
    color: white;
    align-items: center;

}

.trailer{
    padding-left: 70px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#titulo{
    margin: 15px;
}

#actores{
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    margin-top: 20px;
    margin-left: 15px;
}

#resumen{
    margin: 15px;
    width: 100%;
}

iframe{
    margin: 100px;

}

@media only screen and (max-width:420px){
    *{
      margin: 0;
  
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0%;
        /* position: fixed; */
      }
    
      .logo a{
        padding-left: 35%;
        padding-right: 35%;
      
      }
      
      .nav-links a{
        font-size: 15px;
        padding: 10px;
      }
      
      .nav-links ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    
      #buscador{
            display: none;
      }

      .pelicula-resumenes{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-top: 20px;
      }

      .peli-div-grande{
          display: grid;
          grid-template-columns: 1fr 1fr;
      }

      .pelicula-img img{
          height: 180px;
          width: 120px;
      }

      .pelicula-img button{
          width: 130px;
          font-size: 11px;
      }

      #titulo{
          font-size: 20px;
          width: 100px;
      }

}


/* imagen 120 x 180 */