.serie-resumenes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.serie-img button{
    background-color: rgb(38, 40, 77);
    color: white;
    width: 250px;
    height: 50px;
    margin: 10%;
    /* border: 2px solid white; */
}

.info-serie{
    width: 35%;
    color: white;
    align-items: baseline;

}

.trailer{
    padding-left: 70px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#titulo{
    margin: 15px;
}

#actores{
    display: grid;
    grid-template-rows: auto;
    gap: 8px;
    margin-top: 20px;
    margin-left: 15px;
}

#resumen{
    margin: 15px;
    margin-bottom: 50px;
}