*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top, #000000 0%, #483D8B 74%); ;
    min-height: 100px;    
    margin-top: 10px;
}

.logo {
    letter-spacing: 7px;    
    text-transform: uppercase;
    font-size: 25px; 
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: #483D8B;
    -webkit-text-stroke: 0.3px white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links input{
    padding: 6px;
    border: solid 1px black;
    margin-bottom: 8px;
    margin-left: 16px;
}

/* lo del carousel es todo esto */

@keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic {
    position: relative;
    width: 90vw;
    height: 500px;
    margin-top: 20px;
    margin-left: 32px;
    margin-bottom: 40px;
  }
  
  .pic > img {
    position: absolute;
    top: 0;
   
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  