*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #1f1d1d;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    /* background-image: linear-gradient(to top, #000000 0%, #483D8B 74%); ; */
    background-image: linear-gradient(to top, #1f1d1d 0%, #000000 74%);
    min-height: 100px;    
    
}

.logo {
    letter-spacing: 7px;    
    text-transform: uppercase;
    font-size: 25px; 
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: #483D8B;
    -webkit-text-stroke: 0.3px white;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
    gap: 5%;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.nav-links input{
    padding: 6px;
    border: solid 1px black;
    margin-bottom: 8px;
    margin-left: 16px;
}


.footer {
    margin: 0%;
    list-style: none;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    justify-content: left;
    /* background-image: linear-gradient(to bottom, #000000 0%, #483D8B 74%);  */
    background-image: linear-gradient(to bottom, #1f1d1d 0%, #000000 74%);
    font-family: 'Oswald', sans-serif;
}

#nombres{
    padding: 10px;
 
}

.logo2 {
    letter-spacing: 4px;    
    text-transform: uppercase;
    font-size: 15px; 
    font-weight: bold;
    color: white;
    -webkit-text-fill-color: #483D8B;
    -webkit-text-stroke: 0.3px white;
}

.nav-names{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-right: 20%;
    width: 40%;
    -webkit-text-fill-color: lightgrey;
}

#ig{
    display: flex;
    align-items: center;
    -webkit-text-fill-color: lightgrey;
    font-size: 100%;
    gap: 4%;
}

.logo2{
    height: 30%;
    width: 30%;
}

#tmdb{
    height: 25%;
    width: 25%;

}

.foot{
    display: flex;
    justify-content: space-around;
}



/* #foot{
    display: grid;
    grid-template-columns: 1fr 1fr;
} */






/* #buscador{
    display: flex;
    justify-content: right;
} */

