*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: linear-gradient(to bottom,#00BCFF,#007AFF);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background: #1e2747;
    min-height: 75px;    
}

.logo {
    letter-spacing: 7px;    
    text-transform: uppercase;
    font-size: 25px; 
    font-weight: bold;
}

.nav-links{
    display: flex;
    word-spacing: 10px;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-links input{
    padding: 6px;
    border: solid 1px black;
    margin-bottom: 8px;
    margin-left: 16px;
}

.carousel{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.carousel-peliculas {
    /* Dejo el border por ahora para ver mas o menos el tamaño despues se puede borrar */
    border: black 1px solid;
}

.carousel-series {
    /* Dejo el border por ahora para ver mas o menos el tamaño despues se puede borrar */
    border: 1px black solid;
}

.carousel-generos {
    /* Dejo el border por ahora para ver mas o menos el tamaño despues se puede borrar */
    border: 1px black solid;
}
